.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 768px) {
    .navbar {
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        z-index: 800;
    }
}

.navbar-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-dropdown .dropdown-toggle {
    padding-right: 40px;
}

.navbar-dropdown .dropdown-toggle::after {
    position: absolute;
    top: 17px;
    right: 15px;
}
